.notification {
    position: "relative";
    width: fit-content;
    display: inline-flex;
    margin-top: 10px;
}
.iconSection {
    position: relative;
    width: fit-content;
    display: inline-flex;
}
.notificationBar {
    display: block;
    position: absolute;
    width: 350px;
    /* border: 0.5px solid #8080803d; */
    overflow-y: auto;
    top: 87px;
    right: 7.3%;
    box-shadow: 2px 3px 17px -3px #8888888c;
    /* padding: 15px; */
    /* background: #f4f4f4; */
    /* max-height: 450px; */
    border-radius:0px;
    z-index: 999;
    background-color: var(--color-white);
}

.notification:hover .notificationBar {
    display: block;
}
.notification-scroll::-webkit-scrollbar
{
  width: 0.2em;
}
.notification-scroll::-webkit-scrollbar-button 
{
  background: #ccc
}
.notification-scroll::-webkit-scrollbar-track-piece 
{
  background: #888
}
.notification-scroll::-webkit-scrollbar-thumb 
{
  background: #eee
}

.lineItmes {
    padding: 5px;
    /* margin-bottom: 10px; */
    background:#f4f4f4;
    padding: 5px;
}
.lineItmes {
border-bottom: 1px solid var(--color-input-border-lightgrey);
}

.iconBadge {
    background: red;
    width: 18px;
    display: block;
    text-align: center;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 15px;
    font-weight: bolder;
}
.unseen:before{
  color: black;
  font-size: 23px;
  color:red;
  content: '•';
  vertical-align: middle;
}
.seen:before{
  color: green;
  font-size: 23px;
  color:green;
  content: '•';
  vertical-align: middle;
}
.seen {
  opacity: 0.5;
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-14px);
  line-height: var(--line-height-26px);
}
.unseen {
  opacity: 1;
  font-family: var(--font-family-poppins-regular);
  font-size: var(--font-size-14px);
  line-height: var(--line-height-26px);
}

.notification-header {
   text-align: left;
   width: 97%;
   font-weight: normal;
   margin-bottom: 10px;
   font-size: large;
}

.time-span {
  font-weight: normal;
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-14px);
  line-height: var(--line-height-26px);
  color: var(--color-label-footer-gray);
  float: right;
}

.date-p-tag {
  font-size: 14px;
  text-align: left;
  color: #747474;
  display: initial;
}
