.add-div-margings {
  margin: 10px 0;
}


.margin-auto-class {
  margin: 0 auto;
}
.salary-input-field-div{

}

.salary-input-radio-label {
  margin-right: 25px;
}

.salary-input-radio-label > svg {

}
