.docs-sv-page-title {
  margin: 25px 0;
  font-size: 1.5rem;
}

/* .request-agreeemnt-comp-btn {
  margin-top: 25px;
  text-align: end;
} */

.request-agreeemnt-comp-btn > button {
  width: 250px;
}

.emp-sv-overview-page-div {

}

.docs-overview-tabs {
  display: block;
  width: 100%;
  margin: 20px 0 40px 0;
}

.underline {
  border-bottom: 3px solid black;
}


.table-parent-div{
  border: 1px solid cadetblue;
}

.table-parent-div > table > thead > tr > th {
  vertical-align: middle;
}

.table-parent-div > table > thead > tr > th {
  height: 30px;
}

/*  Back button  */
.popup-back-btn {
  cursor: pointer;
  margin-right: 15px;
}
.popup-back-btn:hover{
  text-decoration: underline;
}

.signed-class {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
}
.signed-class.sv-signed {
  background-color: green;
}

.signed-class.sv-pending {
	background-color: orange;
}



.expand-minimize-span > svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
  vertical-align: text-top;
}

.expand-minimize-span {
  vertical-align: middle;
  height: 35px;
  width: 4%;
}

.expand-minimize-span {
  display: inline-block;
}

.expand-minimize-span > svg:hover{
  opacity: 0.7;
}

.docs-overview-tabs > li {
  display: inline-block;
  width: 20%;
}

.docs-overview-tabs > li:first-child {
  width: 25%;
}


.docs-overview-tabs > li > span {
  cursor: pointer;
}

.docs-overview-tabs > li > span:hover {
  opacity: 0.7;
}

.underline {
  border-bottom: 3px solid black;
}
