.AbsAdminSv_employer-sv-page-title__LttR_,
.EmployerSv_employer-sv-page-title__4Amvx,
.AbsSalesAgentSv_employer-sv-page-title__ZLkH3
{
  margin: 0px !important;
}
.manage-cooperation-tabs .AbsAdminSv_underline__2FPZP,
.manage-cooperation-tabs .AbsAdminSv_underline__2FPZP:hover,
.manage-cooperation-tabs .EmployerSv_underline__wZ9b7,
.manage-cooperation-tabs .EmployerSv_underline__wZ9b7:hover,
.manage-cooperation-tabs .AbsSalesAgentSv_underline__2yqqM,
.manage-cooperation-tabs .AbsSalesAgentSv_underline__2yqqM:hover,
.manage-cooperation-tabs .AdditionalDocsOverview_underline___qisS,
.manage-cooperation-tabs .AdditionalDocsOverview_underline___qisS:hover
{
  color: var(--color-skyblue) !important ;
  border-bottom: 2px solid var(--color-skyblue) !important;
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
  opacity: 1;
}
.manage-cooperation-tabs span,
.manage-cooperation-tabs span:hover
{
  color: var(--color-label-footer-gray) !important;
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
  opacity: 1 !important;
}
.search_field_manage_cooperation_agreement input[type="text"]::placeholder
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-27px);
  color: #4C4D5573;
}
.search_field_manage_cooperation_agreement .form-control
{
  border-color:#4C4D554D;
}
.search_field_manage_cooperation_agreement input
{
  height: 43px;
}
.AbsAdminSv_table-parent-div__sT1Po,
.EmployerSv_table-parent-div__iqH_3,
.AbsSalesAgentSv_table-parent-div__sL3Se
{
  border:none!important;
}
.AdditionalDocsOverview_underline___qisS
{
  border-bottom: 2px solid #4c4d55 !important;
}
.manage-cooperation-agreement-table-header tr th,
.manage-documents-table-header tr th
{
  color: var(--color-label-footer-gray) !important;
  font-family: var(--font-family-poppins-medium) !important;
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
  opacity: 1 !important;
}
.manage-cooperation-agreement-table-header tbody,
.manage-documents-table-header tbody
{
  border: 1px solid var(--border-color-light-gray) !important;
}
.manage-cooperation-agreement-table-header tbody tr td
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-27px);
  color: var(--color-label-footer-gray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.manage-documents-table-header tbody tr td
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
  line-height: var(--line-height-26px);
  color: var(--color-label-footer-gray);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.manage-cooperation-action-icons .span-action-icons > svg
{
  width: 25px;
  height: 25px;
}
.manage-cooperation-action-icons .span-action-icons.download > svg
{
  width: 25px;
  height: 22px;
}
.buttuon_purple
{
  background-color: var(--color-purple);
  border: var(--color-purple);
  font-family:var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
}
.color-skyblue-icon span 
{
  color:var(--color-skyblue) !important;
  font-size:20px;
}
.cooperation_agreement_list li
{
  border: none !important;
}
.cooperation_agreement_list li .nav-link
{
  border-radius: 0px !important;
  background-color: var(--bg-grey-medium)!important;
}
.min_height_step
{
  min-height: 4rem;
}
.absolute_you_agent,
.company_information_address,
.contact_person
{
  border: 1px solid var(--color-purple);
  padding: 1rem;
}
.absolute_you_agent label,
.legal_address label
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-18px) !important;
  line-height: var(--line-height-29px) !important;
  color: var(--color-label-footer-gray);
  font-weight: normal;
}
.absolute_you_agent input[type="date"]
{
  min-height: 43px;
  border-radius: 0px !important;
}
.absolute_you_agent input,
.absolute_you_agent .react-select-prefix__multi-value__label,
.legal_address input
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
  line-height: var(--line-height-26px);
  color: var(--color-label-footer-gray);
  font-weight: normal;
}
.absolute_you_agent .react-select-prefix__single-value,
.type_of_company .react-select-prefix__value-container,
.legal_address .react-select-prefix__single-value
{
  display: flex;
  align-items: center;
}
.legal_address .react-select-prefix__input-container
{
  margin: 0 !important;
  padding: 0 !important;
}
.absoluteAgent_worker-servants-title__i18tv
{
  margin-left: 0px !important; 
  font-family:var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
  color: var(--color-label-footer-gray);
  font-weight: normal;
}
.css-1rhbuit-multiValue
{
  padding: 0.3rem 0.5rem !important;
  border-radius: 0px;
}
.absolute_you_agent .react-select-prefix__control
{
  min-height: 43px !important;
  height: auto !important;
}
.workers_extra_button button,
.workers_extra_button button:hover,
.workers_extra_button button:focus
{
  border-radius: 1px solid var(--color-purple);
  background-color: var(--color-purple);
  color: var(--color-white);
  font-family:var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
}
.absolute_you_agent .absoluteAgent_workers-servants-table__En0_u
{
  width: 91.8% !important;
}
.type_of_company .react-select-prefix__control ,
.legal_address input[type="text"]
{
  min-height: 41px !important;
  height: 100% !important;
}
.legal_address .legal12 input,
.legal_address .legal13 input
{
  width: 84% !important;
}
.legal_address .legal12
{
  padding-right: 1% !important;
}