.actions-span{
 cursor: pointer;
 margin: 0 5px;
 display: inline-block;
}

.pcp_name{
  width: 70% !important;  /* not needed */
  margin: 10px;
  height: 38px !important;
}
.pcp_btn {
  background-color: #707070 !important;
  margin: 10px;
}
.pcp_btn:hover {
  background-color: black !important;
}

.manage-types-table {
  /* border-collapse: collapse;
  border: 1px solid black; */
}

.manage-types-table tr {
  border-bottom: 1pt solid cadetblue;
  height: 45px;
}

.add-edit-types {
  border: 1px solid black;
}

.managetype-save-btn {
  margin: 15px;
  text-align: right;
}

.pcp_name_warning {
  color: red !important;
  margin: 10px;
}

.add-item-div{
  border: 1px solid lightsteelblue;
  width: 70%;
  margin-left: 30px;
}
.add-item-table tr{
  height: 30px;
}
.table-render-parent-div{
  height: 450px;
  border: 1px solid cadetblue;
  overflow-y: scroll;
}

.table-render-thead{
  background-color: lightgray;
  height: 50px;
  position: sticky;
  top: 0;
  textAlign: center;
}

.show-box-link:hover {
  color: black !important;
  text-decoration: underline;
}

.show-box-link{
  color: black;
  padding-top: 30px;
  text-align: center;
  margin: 30px 50px !important;
  height: 100px;
  width: 200px !important;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.54);
  -moz-box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.54);
  box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.54);
}

.searchIconCss {
  text-align: right;
  width: 5% !important;
  top: 15px;
  position: absolute;
  cursor: pointer;
  right: 30%;
}

/* Salary benefits css  */
.salary-input-fields{
  margin: 30px 0;
}
.input-label-class {
  margin-left: 12px
}
.salary-date{
  cursor: pointer;
}
/* END */



/* PAGINATION  */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a{
  background-color:gray ;
  border-color: gray ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid gray ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: gray0 ;
  border-color: gray;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: gray
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
/***********************/

.text-align-center {
  text-align: center;
}

.page-title-font-class {
  margin: 25px 0;
  font-size: 1.5rem;
}
