@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("react-confirm-alert/src/react-confirm-alert.css");
@import url("@/styles/EmployeeType.css");
@import url("@/styles/PcLinking.css");

@font-face {
	font-family: "Tahoma-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/Tahoma Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Tahoma-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/Tahoma.ttf") format("truetype");
}
@font-face {
	font-family: "Arial-NarrowBold";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/OpenSans-Bold.ttf") format("truetype");
}

.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}

.align-self-flex-end {
	align-self: flex-end;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.react-tabs__tab--selected {
	color: #fff;
	background-color: #0d6efd;
	/* background: #fff; */
	border-color: #aaa;
	/* color: black; */
	border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
	color: GrayText;
	cursor: default;
}

.react-tabs__tab:focus {
	outline: none;
}

.react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}
.error {
	color: red;
}
.nav-link {
	color: black !important;
	height: 100%;
	border-radius: 10px;
}
.nav-pills .nav-link.active {
	background-color: black !important;
}

.nav-link:hover {
	font-weight: 500 !important;
}
.nav-item {
	border: 2px solid black !important;
	border-radius: 10px !important;
	margin: 0px 3px !important;
}
.custom_astrick::after {
	content: "*";
	padding-left: 3px;
	color: red;
}
.custom-inactive:hover {
	color: black !important;
}
.custom-inactive {
	color: black !important;
}
.custom-active:hover {
	color: #fff !important;
}
.custom-active {
	color: #fff !important;
}
.disabled {
	color:#999 !important;
}
.container-height {
	min-height: 720px;
}

.atom-input-field-default {
	cursor: pointer;
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.atom-input-field-default:focus{
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}
.rmdp-wrapper {
	width: 100% !important;
	background-color: #ececee !important;
}
.rmdp-calendar {
	width: 100% !important;
}
.rmdp-day-picker div {
	width: 100% !important;
}
.rmdp-day span {
	border-radius: 0% !important;
}
.go_to_dashboard {
	position: absolute;
 top: 18px;
 right: 16px;
 font-size: 18px;
}
