@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("react-confirm-alert/src/react-confirm-alert.css");
@import url("@/styles/EmployeeType.css");
@import url("@/styles/PcLinking.css");

@font-face {
	font-family: "Tahoma-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/Tahoma Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Tahoma-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/Tahoma.ttf") format("truetype");
}
@font-face {
	font-family: "Arial-NarrowBold";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/OpenSans-Bold.ttf") format("truetype");
}

/* for poppin font */
@font-face {
    font-family: 'Poppins-bold';
    font-weight: 800;
    font-style: normal;
	src: url("./fonts/OpenSans-Bold.ttf");
    /* src: url(/themes/custom/absolute_you/fonts/Poppins/Poppins-Bold.ttf ); */
}
@font-face {
    font-family: 'Poppins-italac';
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-Italic.ttf" );
}
@font-face {
    font-family: 'Poppins-normal';
    font-weight: 500;
    font-style: normal;
    src: url( "./fonts/Poppins-Light.ttf" );
}
@font-face {
    font-family: 'Poppins-extraitalic';
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/Poppins-ExtraLightItalic.ttf" );
}
@font-face {
    font-family: 'Poppins-lightitalic';
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-LightItalic.ttf");
}
@font-face {
    font-family: 'Poppins-regular';
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'Poppins-thin';
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-Thin.ttf");
}
@font-face {
    font-family: 'Poppins-thinitalic';
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-ThinItalic.ttf");
}
@font-face {
    font-family: 'Poppins-mediun';
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: 'Poppins-mediumitalic';
    font-weight: 500;
    font-style: normal;
	src: url("./fonts/Poppins-MediumItalic.ttf");
}


body {
    /* for title */
    --color-purple: #7761A7;
    /* for lable and footer background-color */
    --color-label-footer-gray: #4C4D55;

    /* for border color*/
    --color-input-border-lightgrey: #B5B5B5;
    --color-white: #fff;
    /* for pagination background color */
    --bg-gray-dark: #4C4D5580;
    --bg-grey-medium: #4C4D550F;
    --color-skyblue: #79B1BD;

    /* for font sizes */
    --font-size-s: 0.75em;
    --font-size-xl: 1.125rem;
    --font-size-xs: 0.625rem;
    --font-size-xxl: 1.25rem;
    --font-size-xxs: 0.5rem;



    /* for label  */
    --color-grey-dark: #515050;
    --color-black: #0b0c0c;
    --font-family-regular: LibreFranklin-Regular;
    --font-family-light: LibreFranklin-Normal;
    --font-family-extralightitalic: LibreFranklin-extralightitalic;
    --font-family-bold: LibreFranklin-bold;
    --font-size-default:14px;
    --font-size-small: 12px;
   /* for input field */
   --height-normal:35px;
   --border-input-lightgray: #dddddd;

}
:root {
  /* for title */
    --color-purple: #7761A7;
    /* for lable and footer background-color */
    --color-label-footer-gray: #4C4D55;

    /* for border color*/
    --color-border-lightgrey: #B5B5B5;
    --color-white: #fff;
    /* for pagination background color */
    --bg-gray-dark: #4C4D5580;
    --bg-grey-medium: #4C4D550F;
    --color-skyblue: #79B1BD;

      /* for font sizes */
      --font-size-s: 0.75rem;
      --font-size-xl: 1.25rem;
      --font-size-xs: 0.625rem;
      --font-size-xxl: 1.5rem;
      --font-size-xxxl: 1.7rem;
      --font-size-xxs: 0.5rem;
      --font-size-m: 1rem;
      --font-size-l: 1.125rem;

  /* font family */
    --font-family-poppins-regular: Poppins-regular;
    --font-family-poppins-italic: Poppins-italac;
    --font-family-poppins-light: Poppins-normal;
    --font-family-poppins-bold: Poppins-bold;
    --font-family-poppins-thin: Poppins-thin;
    --font-family-poppins-medium: Poppins-medium;
}


.poppins-regular-14px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}


.poppins-regular-16px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.poppins-regular-18px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

.poppins-regular-20px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
}
.poppins-italic-14px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}


.poppins-italic-16px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italicr);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.poppins-italic-18px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-l);
    font-style: italic;
    font-weight: 400;
}

.poppins-italic-20px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-xl);
    font-style: italic;
    font-weight: 400;
}
.poppins-italic-22px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-xxl);
    font-style: italic;
    font-weight: 400;
}

.poppins-italic-24px {
    color: var(--color-purple);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-xxxl);
    font-style: italic;
    font-weight: 400;
}
.purple-bg-color {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: var(--font-size-m);
}
.skyblue-bg-color {
    background-color: var(--color-skyblue);
    color: var(--color-white);
    font-size: var(--font-size-l);
}
.poppins-bold-14px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 800;
}


.poppins-bold-16px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 800;
}

.poppins-bold-18px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-l);
    font-style: italic;
    font-weight: 800;
}

.poppins-bold-20px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-xl);
    font-style: italic;
    font-weight: 800;
}
.border-form-sec {
    border: 1px solid var(--color-purple);
}
.input-border-lightgray {
    border: 1px solid var(--color-input-border-lightgrey);
}
.custom-label {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.custom-btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-family: var(--font-family-poppins-regular);
}
.clip0 {
    clip-path: polygon(0% -5%, 3.3% 0.3%, 20% 62%, 0% 100%);
    background-color: darkcyan;
    width: 330px;
    height: 500px;
    position: absolute;
    top: 0;
}
.clip1 {
    clip-path: polygon(100% 0%, 100% 100%, 75% 57%);
    background-color: yellow;
    width: 300px;
    height: 430px;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
}
.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}

.align-self-flex-end {
	align-self: flex-end;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.react-tabs__tab--selected {
	color: #fff;
	background-color: #0d6efd;
	/* background: #fff; */
	border-color: #aaa;
	/* color: black; */
	border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
	color: GrayText;
	cursor: default;
}

.react-tabs__tab:focus {
	outline: none;
}

.react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}
.error {
	color: red;
}
.nav-link {
	color: black !important;
	height: 100%;
	border-radius: 10px;
}
.nav-pills .nav-link.active {
	background-color: black !important;
}

.nav-link:hover {
	font-weight: 500 !important;
}
.nav-item {
	border: 2px solid black !important;
	border-radius: 10px !important;
	margin: 0px 3px !important;
}
.custom_astrick::after {
	content: "*";
	padding-left: 3px;
	color: red;
}
.custom-inactive:hover {
	color: black !important;
}
.custom-inactive {
	color: black !important;
}
.custom-active:hover {
	color: #fff !important;
}
.custom-active {
	color: #fff !important;
}
.disabled {
	color:#999 !important;
}
.container-height {
	/* min-height: calc(90vh - 84px); */
    min-height: calc(90vh - 90px);
}

.atom-input-field-default {
	cursor: pointer;
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.atom-input-field-default:focus{
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}
.rmdp-wrapper {
	width: 100% !important;
	background-color: #ececee !important;
}
.rmdp-calendar {
	width: 100% !important;
}
.rmdp-day-picker div {
	width: 100% !important;
}
.rmdp-day span {
	border-radius: 0% !important;
}
.go_to_dashboard {
	position: absolute;
 top: 18px;
 right: 16px;
 font-size: 18px;
}
.clip0 {
    clip-path: polygon(0% -5%, 3.3% 0.3%, 20% 62%, 0% 100%);
    background-color: darkcyan;
    width: 330px;
    height: 500px;
    position: absolute;
    top: 0;
	left: 0;
}
.clip1 {
    clip-path: polygon(100% 0%, 100% 100%, 75% 57%);
    background-color: yellow;
    width: 300px;
    height: 430px;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
}
/* .calc-height {
    min-height: calc(80vh - 100px);
} */
.selectemp-height {
    min-height: calc(65vh - 90px);
}
.select-relative {
    top: 185px;
    position: relative;
    bottom: 50px;
}
.custom-modal-width-90 {
    max-width: 90% !important;
}
.inline-block-child {
	display: inline-block;
	float:left;
}
