@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("react-confirm-alert/src/react-confirm-alert.css");
@import url("@/styles/EmployeeType.css");
@import url("@/styles/PcLinking.css");

@font-face {
	font-family: "Tahoma-Bold";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/Tahoma Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Tahoma-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Tahoma.ttf") format("truetype");
}
@font-face {
	font-family: "Arial-NarrowBold";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

/* for poppin font */
@font-face {
    font-family: 'Poppins-bold';
    font-weight: 800;
    font-style: normal;
	src: url("/fonts/OpenSans-Bold.ttf");
    /* src: url(/themes/custom/absolute_you/fonts/Poppins/Poppins-Bold.ttf ); */
}
@font-face {
    font-family: 'Poppins-italac';
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Italic.ttf" );
}
@font-face {
    font-family: 'Poppins-normal';
    font-weight: 500;
    font-style: normal;
    src: url( "/fonts/Poppins-Light.ttf" );
}
@font-face {
    font-family: 'Poppins-extraitalic';
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/Poppins-ExtraLightItalic.ttf" );
}
@font-face {
    font-family: 'Poppins-lightitalic';
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-LightItalic.ttf");
}
@font-face {
    font-family: 'Poppins-regular';
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'Poppins-thin';
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Thin.ttf");
}
@font-face {
    font-family: 'Poppins-thinitalic';
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-ThinItalic.ttf");
}
@font-face {
    font-family: 'Poppins-medium';
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: 'Poppins-mediumitalic';
    font-weight: 500;
    font-style: normal;
	src: url("/fonts/Poppins-MediumItalic.ttf");
}

/* for bitter font */
@font-face {
    font-family: 'bitter-regular';
    font-weight: 500;
    font-style: normal;
	src: url("/fonts/Bitter-Regular.ttf");
}
@font-face {
    font-family: 'Bitter-italic-normal-medium';
    font-weight: 500;
    font-style: normal;
	src: url("/fonts/Bitter-MediumItalic.ttf");
}
body {
    /* for title */
    --color-purple: #7761A7;
    /* for lable and footer background-color */
    --color-label-footer-gray: #4C4D55;

    /* for border color*/
    --color-input-border-lightgrey: #B5B5B5;
    --color-white: #fff;
    /* for pagination background color */
    --bg-gray-dark: #4C4D5580;
    --bg-grey-medium: #4C4D550F;
    --color-skyblue: #79B1BD;
    --bg-btn-gray: #4C4D55B3;

    /* for font sizes */
    --font-size-s: 0.75em;
    --font-size-xl: 1.125rem;
    --font-size-xs: 0.625rem;
    --font-size-xxl: 1.25rem;
    --font-size-xxs: 0.5rem;



    /* for label  */
    --color-grey-dark: #515050;
    --color-black: #0b0c0c;
    --color-less-greater: #4C4D554D;
    --font-family-regular: LibreFranklin-Regular;
    --font-family-light: LibreFranklin-Normal;
    --font-family-extralightitalic: LibreFranklin-extralightitalic;
    --font-family-bold: LibreFranklin-bold;
    --font-size-default:14px;
    --font-size-small: 12px;
   /* for input field */
   --height-normal:35px;
   --border-input-lightgray: #dddddd;
   --font-family-bitter-italic-normal-medium: Bitter-italic-normal-medium;
   --font-family-poppins-regular: Poppins-regular;
    --font-family-poppins-italic: Poppins-italac;
    --font-family-poppins-light: Poppins-normal;
    --font-family-poppins-bold: Poppins-bold;
    --font-family-poppins-thin: Poppins-thin;
    --font-family-poppins-medium: Poppins-medium;

    --error-message-color: #FF0000;
    --border-paritair-gray: #4C4D5559;

}
:root {
  /* for title */
    --color-purple: #7761A7;
    /* for lable and footer background-color */
    --color-label-footer-gray: #4C4D55;

    /* for border color*/
    --color-border-lightgrey: #B5B5B5;
    --color-white: #fff;
    /* for pagination background color */
    --bg-gray-dark: #4C4D5580;
    --bg-grey-medium: #4C4D550F;
    --color-skyblue: #79B1BD;

      /* for font sizes */
      --font-size-s: 0.75rem;
      --font-size-xl: 1.25rem;
      --font-size-xs: 0.625rem;
      --font-size-xxl: 1.5rem;
      --font-size-xxxl: 1.7rem;
      --font-size-xxs: 0.5rem;
      --font-size-m: 1rem;
      --font-size-l: 1.125rem;

  /* font family */
    --font-family-poppins-regular: Poppins-regular;
    --font-family-poppins-italic: Poppins-italac;
    --font-family-poppins-light: Poppins-normal;
    --font-family-poppins-bold: Poppins-bold;
    --font-family-poppins-thin: Poppins-thin;
    --font-family-poppins-medium: Poppins-medium;

    /* bitter font-family */
    --font-family-bitter-italic-normal-medium: Bitter-italic-normal-medium;
    --border-paritair-gray: #4C4D5559;
}
.bitter-italic {
    color: var(--color-purple);
    font-family: var(--font-family-bitter-italic-normal-medium);
    font-weight: 500;
    font-size: var(--font-size-l);
}

.bitter-italic-normal-medium-24 {
    color: var(--color-purple);
    font-family: var(--font-family-bitter-italic-normal-medium);
    font-weight: 500;
    font-size: var(--font-size-xxxl);
}
.bitter-italic-normal-medium-20 {
    color: var(--color-purple);
    font-family: var(--font-family-bitter-italic-normal-medium);
    font-weight: 500;
    font-size: var(--font-size-xl);
}
.bitter-italic-normal-medium-22 {
    color: var(--color-purple);
    font-family: var(--font-family-bitter-italic-normal-medium);
    font-weight: 500;
    font-size: var(--font-size-xxl);
}
.poppins-regular-14px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    line-height: initial;
}


.poppins-regular-16px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    line-height: initial;
}

.poppins-regular-18px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    line-height: initial;
}

.poppins-regular-20px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
    line-height: initial;
}
.poppins-italic-14px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}


.poppins-italic-16px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italicr);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.poppins-italic-18px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-l);
    font-style: italic;
    font-weight: 400;
    line-height: initial;
}

.poppins-italic-20px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-xl);
    font-style: italic;
    font-weight: 400;
    line-height: initial;
}
.poppins-italic-22px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-xxl);
    font-style: italic;
    font-weight: 400;
    line-height: initial;
}

.poppins-italic-24px {
    color: var(--color-purple);
    font-family: var(--font-family-poppins-italic);
    font-size: var(--font-size-xxxl);
    font-style: italic;
    font-weight: 400;
}
.purple-bg-color {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: var(--font-size-m);
}
.skyblue-bg-color {
    background-color: var(--color-skyblue);
    color: var(--color-white);
    font-size: var(--font-size-m);
}
.skyblue-bg-color:hover {
    background-color: var(--color-skyblue);
    color: var(--color-white);
    font-size: var(--font-size-m);
}
.poppins-bold-14px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 800;
}


.poppins-bold-16px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 800;
}

.poppins-bold-18px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-l);
    font-style: italic;
    font-weight: 800;
}

.poppins-bold-20px {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-bold);
    font-size: var(--font-size-xl);
    font-style: italic;
    font-weight: 800;
}
.border-form-sec {
    border: 1px solid var(--color-purple);
}
.input-border-lightgray {
    border: 1px solid var(--color-input-border-lightgrey);
}
.custom-label {
    color: var(--color-label-footer-gray);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.custom-btn {
    background-color: var(--color-purple);
    color: var(--color-white);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.custom-btn:hover {
    color: var(--color-white) !important;
    background-color: var(--color-purple) !important;
    /* border: var(--color-purple) !important; */
    font-size: var(--font-size-m);
    font-family: var(--font-family-poppins-regular);
}
.clip0 {
    clip-path: polygon(0% -5%, 3.3% 0.3%, 20% 62%, 0% 100%);
    background-color: darkcyan;
    width: 330px;
    height: 500px;
    position: absolute;
    top: 0;
}
.clip1 {
    clip-path: polygon(100% 0%, 100% 100%, 75% 57%);
    background-color: yellow;
    width: 300px;
    height: 430px;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 25px;
}
.screen a {
	display: contents;
	text-decoration: none;
}

.container-center-horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	pointer-events: none;
	width: 100%;
}

.container-center-horizontal > * {
	flex-shrink: 0;
	pointer-events: auto;
}

.align-self-flex-end {
	align-self: flex-end;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.react-tabs__tab--selected {
	color: #fff;
	background-color: #0d6efd;
	/* background: #fff; */
	border-color: #aaa;
	/* color: black; */
	border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
	color: GrayText;
	cursor: default;
}

.react-tabs__tab:focus {
	outline: none;
}

.react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}
.error {
	color: red;
}
.nav-link {
	color: black !important;
	height: 100%;
	border-radius: 10px;
}
.nav-pills .nav-link.active {
	background-color: var(--color-skyblue) !important;
}

.nav-link:hover {
	font-weight: 500 !important;
}
.nav-item {
	border: 2px solid black !important;
	border-radius: 10px !important;
	margin: 0px 3px !important;
}
.custom_astrick::after {
	content: "*";
	padding-left: 3px;
	color: red;
}
.custom-inactive:hover {
	color: black !important;
}
.custom-inactive {
	color: black !important;
}
.custom-active:hover {
	color: #fff !important;
}
.custom-active {
	color: #fff !important;
}
.disabled {
	color:#999 !important;
}
.container-height {
	/* min-height: calc(90vh - 100px); */
    /* min-height: calc(92vh - 52px); */
    /* height: 86.5vh; */
    min-height: calc(90vh - 45px);
}

.atom-input-field-default {
	cursor: pointer;
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.atom-input-field-default:disabled {
	background-color: #e9ecef;
  opacity: 1;
}

.atom-input-field-default:focus{
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}
.rmdp-wrapper {
	width: 100% !important;
	background-color: #ececee !important;
}
.rmdp-calendar {
	width: 100% !important;
}
.rmdp-day-picker div {
	width: 100% !important;
}
.rmdp-day span {
	border-radius: 0% !important;
}
.go_to_dashboard {
	position: absolute;
 top: 18px;
 right: 16px;
 font-size: 18px;
}
.clip0 {
    clip-path: polygon(0% -5%, 3.3% 0.3%, 20% 62%, 0% 100%);
    background-color: #79B1BD;
    width: 330px;
    height: 500px;
    position: absolute;
    top: 0;
	left: 0;
}
.clip1 {
    clip-path: polygon(100% 0%, 100% 100%, 75% 57%);
    background-color: #FDF082;
    width: 300px;
    height: 430px;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 25px;
}
/* .calc-height {
    min-height: calc(80vh - 100px);
} */
.selectemp-height {
    min-height: calc(75vh - 90px);
}
.select-relative {
    top: 135px;
    position: relative;
    bottom: 50px;
}
.custom-modal-width-85 {
    max-width: 85% !important;
    margin-top: 2rem;
}
/* .css-1s2u09g-control {
    padding: 10px 5px ;
   ;
} */
.custom-radio-input {
    background-color: var(--color-skyblue);
    padding: 5px;
}
.back-btn-text {
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-l);
    text-decoration: underline;

}
input::placeholder, select {
    font-family: var(--font-family-poppins-light);
    font-size: var(--font-size-m);
}
label {
    font-family: var(--font-family-poppins-light);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400px;
}

.custom-modal-width-90 {
    max-width: 90% !important;
}
.inline-block-child {
	display: inline-block;
	float:left;
}
.svadmin_icon {
	text-align: right;
width: 20px !important;
top: 17px;
position: absolute;
cursor: pointer;

left: 19%;
}
.svadmin_icon2 {
	text-align: right;
width: 20px !important;
top: 17px;
position: absolute;
cursor: pointer;

left: 43%;
}

.legal12, .legal13 ,.invoice68,.invoice69{
	width: 50%;
	float:left;
}
.legal12 input, .legal13 input,.invoice68 input,.invoice69 input{
  width: 90%;
}
.legal15,.invoice70,.invoice71,.invoice75 {
	margin-bottom: 80px !important ;
}
.legal24 {
margin-top: 160px !important ;
}
.custom-position-sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}
.add-pln:hover {
  color: var(--color-white);
}
.custom-header {
    background-color: var(--color-white);
}
.footer-bg-color {
background-color: var(--color-label-footer-gray);
}
input {
    font-family: var(--font-family-poppins-light);
}
.btn-bg-gray-medium {
   background-color: var(--bg-grey-medium);
   color: var(--color-label-footer-gray);
   font-size: var(--font-size-l);
}
.select-bg-gray {
    background-color: var(--bg-grey-medium);
    color: var(--color-label-footer-gray);
   font-size: var(--font-size-m);
}
.color-skyblue {
    color: var(--color-skyblue);
    font-size: 20px;
}
.font-poppins-light {
    font-family: var(--font-family-poppins-light);
    font-size: var(--font-size-small);
}
.table-border-gray {
    /* border: apx solid var(--bg-gray-dark); */
    border: 1px solid var(--bg-gray-dark);
}
.less-grather {
    color: var(--color-less-greater);
    font-size: 28px;
    font-weight: bold;
}
.border-4C4D554D {
  border: 1px solid var(--color-less-greater);
}
.table-title-bg {
background: var(--bg-grey-medium);
}
.bg-cati-gray {
    background-color: #4C4D550F;
}
div[disabled]{
	pointer-events: none;
  opacity: 0.7;
	cursor: not-allowed;
}

.signatureCanvas {
	display: block;
  border: 1px solid black;
  width: 100%;
  min-height: 100%;
	cursor: crosshair;
}
.footer {
    position: sticky !important;
    bottom: 0;
		z-index: 10;
}
.timepage-calander .rmdp-header {
    background: var(--color-skyblue);
    margin-top: 0px;
    height: 45px;
}
.timepage-calander .rmdp-calendar   {
   padding: 0px;
   color: var(--color-white);
   font-family: var(--font-family-poppins-regular);
}
.timepage-calander .rmdp-arrow {
    border: solid #FFFFFF4D;
    border-width: 0 4px 4px 0;
    display: inline-block;
    height: 14px;
    margin-top: 3px;
    padding: 2px;
    width: 14px;
    font-weight: bold;
}
/* .timepage-calander .rmdp-left:hover {
    background-color: none;
    border: solid #FFFFFF4D;
    border-width: 0 4px 4px 0;
    display: inline-block;
    height: 14px;
    margin-top: 3px;
    padding: 2px;
    width: 14px;
    font-weight: bold;
} */
.timepage-calander .rmdp-header-values {
    color: var(--color-white);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-l);
    padding-top: 4px;
}
.timepage-calander .rmdp-left {
    left: 38%;
    /* transform: translateY(-39%); */
}
.timepage-calander .rmdp-right {
    right: 38%;
    /* transform: translateY(-39%); */
}
.timepage-calander .rmdp-week-day {
color: var(--color-skyblue);
font-size: var(--font-size-l);
}
.timepage-calander .rmdp-day.rmdp-selected span {
    background: var(--color-skyblue) !important;
    color: var(--color-white);
    width: 60px;
    margin: auto;
    height: 45px;
}
.timepage-calander .rmdp-day.rmdp-today span {
    background: var(--color-label-footer-gray);
    color: var(--color-white);
    width: 60px;
    margin: auto;
    height: 45px;
}
.timepage-calander .rmdp-week {
    height: 45px;
}
.timepage-calander .rmdp-day {
    color: var(--color-label-footer-gray);
}
.rmdp-day.rmdp-selected span:not(.highlight) {
    width: 60px;
    height: 45px;
    margin: auto;
}
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
    /* background-color: rgb(211,211,211); */
    background-color: var(--color-input-border-lightgrey) !important;
    box-shadow: var(--color-border-lightgrey);
    width: 60px;
    height: 45px;
    margin: auto;
}
.timepage-calander .rmdp-day-picker  {
 background-color: var(--bg-grey-medium);
}
.purple-color {
    color: var(--color-purple);
    font-size: var(--font-size-xl);
}
.purple-color2 {
    color: var(--color-purple);
    font-size: var(--font-size-m);
    font-family: var(--font-family-poppins-regular);
}
.color-skyblue2 {
  background-color: var(--color-skyblue);
  font-size: var(--font-size-l);
  color: var(--color-white);
}
.equal-width-calc td {
    width: calc(100%/7);
}
.table-right-border-white {
    border-right: 1px solid var(--color-white);
}
.planning-table .css-1b7ni76-MuiToolbar-root.Toolbar-toolbar {
    border: 1px solid var(--color-border-lightgrey);
}
.planning-table .css-1ps6pg7-MuiPaper-root {
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
    color: var(--color-label-footer-gray);
}
.planning-table .Cell-dayOfWeek {
    background-color: var(--color-skyblue);
    color: var(--color-white);
    height: 45px;
    font-family: var(--font-family-poppins-regular) ;
    font-size: var(--font-size-m);
}
.planning-table  .css-xya8j6-MuiButtonBase-root-MuiButton-root.TodayButton-button:first-of-type {
    border: 1px solid var(--color-skyblue);
    color: var(--color-skyblue);
}
.css-71a9mb-MuiButtonBase-root-MuiIconButton-root, .css-vnscjq-MuiButtonBase-root-MuiButton-root {
    color: var(--color-skyblue);
}
.reset-btn {
    background-color: var(--bg-btn-gray);
    color: var(--color-white);
    font-size: var(--font-size-l);
    font-family: var(--font-family-poppins-regular);
}
.poppinns-regular-thin {
    font-family: var(--font-family-poppins-thin);
    font-size: var(--font-size-m);
    color: var(--color-label-footer-gray);
    font-weight: 600;
}
.footer-content {
    color: var(--color-white);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
/* .lang-options option {

   font-family: var(--font-family-poppins-regular);
   font-size: var(--font-size-m);
}
.lang-options option:hover {
    background-color: var(--color-skyblue) !important;
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
 } */
 /* .lang {
    color: red !important;
 }
 .lang:hover {
    background-color: green !important;
 } */
 .project-pagination > .next > a  {
 background-color: var(--color-purple);
 color: var(--color-white);
 border: none;
 padding: 5px 15px;
 font-size: 20px;
 }
 .project-pagination > .previous  > a {
    background-color: var(--bg-gray-dark);
    color: var(--color-white);
    border: none;
    padding: 5px 15px;
    font-size: 20px;
 }
 .project-pagination > .active  > a {
    background-color: var(--color-white);
    color: var( --bg-gray-dark);
    border: none;
    padding: 5px 15px;
    font-size: 20px;
 }
 .project-pagination.pagination > li > a {
    border: none !important;
    padding: 5px 15px;
 }
 .error {
   color: var(error-message-color) !important;
   font-family: var(--font-family-poppins-regular);
   font-size: var(--font-size-m);
 }
 .max-height-420 {
    max-height: 420px;
    overflow: auto;
 }
 .table-sticky-bg-gray {
    /* position: sticky;
    top: 0;
    z-index: 999; */
    background-color: var(--bg-grey-medium);
 }

 .min-height-AET {
    /* min-height: calc(85vh - 100px); */
    min-height: calc(85vh - 120px);
    /* min-height: calc(92vh - 52px); */
 }
 .table-border-bottom:last-child() {
    border-bottom: none !important;
 }
 .linkcoe .css-1vdcg37-control {
    border-width: 0px;
 }

 .input-h-w {
    width: 20px;
    height: 20px;
 }
 .custom-drop-btn  .css-b62m3t-container {
    width: 100%;
 }
 /* .custom-drop-btn .css-1s2u09g-control,  .css-1s2u09g-control {
    border: none !important;
 } */
 .bg-4C4D550F {
    background-color: var(--bg-grey-medium);
 }
 .padding-t-b-10 {
    padding: 10px !important;
    padding-top: 25px !important;
 }
 .empty-sec {
    background-color: #4C4D550F;
    height: 60px;
    padding: 20px;
 }
 .height-60 {
    height: 70px;
    background-color: var(--color-skyblue);
    font-family: var(--font-family-poppins-regular);
    color: var(--color-white);
    font-size: var(--font-size-m);
 }
 .rc-time-picker-input {
    border-radius: 0px !important;
 }
 .firsrt-line {
    height: 65px;
    position: absolute;
    left: -42px;
    border-left: 1px solid #4C4D554D !important;
    width: 60px;
 }
 .second-line {
    height: 1px;
    position: absolute;
    left: -41px;
    border-bottom: 1px solid #4C4D554D !important;
    width: 50px;
    top: 30px;
 }
 span .firsrt-line:last-child() {
    height: 40px !important;
 }
 .accordi span .second-line:last-child() {
   border-bottom: 1px solid red !important;
 }
 /* .zindex-999 {
    z-index: 999;
 } */
 .font-l {
    font-size: var(--font-size-l) !important;
 }
 .parithair-border {
    border: 1px solid var(--border-paritair-gray)
 }
 .parithair-tabs {
    background-color: var(--color-border-lightgrey) !important;
    color: var(--color-white) !important;
    font-family: var(--font-family-poppins-regular) !important;
    font-size: var(--font-size-m) !important;
   

 }
 .blue-border-bg-white {
    background-color: var(--color-white);
    border: 1px solid var(--color-skyblue);
    color: var(--color-skyblue);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.blue-border-bg-white:focus {
    background-color: var(--color-skyblue);
    color: white;
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.blue-border-bg-white:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-skyblue);
    color: var(--color-skyblue);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.age-sec.input-group-text {
    background: none;
    border-left: 0px;
    height: 41px;
    margin-top: 8px;
    border-radius: 0px;
    border: 1px solid var(--bg-gray-dark);
}
  @media screen {

 }
 @media only screen and  (min-width: 0px) and (max-width: 480px){


 }
 @media only screen and  (min-width: 481px) and (max-width: 1024px){
    .container-height {
        min-height: calc(88vh - 48px) !important;
    }

}
@media only screen and  (min-width: 1025px) and (max-width: 1360px){
    .container-height {
        min-height: calc(88vh - 48px) !important;
    }

}
