.sectioncolor {
    background-color: #4C4D550F !important;
}
/* .btncolor {
    background-color: lightgray !important;
    color:black;
    border:none;

} */
.sectionli {
width: 97%;
margin: 0px !important
}
.color-white {
    color: white !important;
    
}
.listtitle {
    color:black !important;
}
.listtitle:focus {
    z-index: 3;
    border-color: black !important;
    outline: 0;
    box-shadow:  0 0 0.25rem rgb(201 203 205 / 25%) !important;
    /* box-shadow:  */

}
#pills-pc-tab {
    background-color: var(--color-skyblue);
    color: var(--color-white);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
 }
.tree .lev1 li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: -9px;
    width: 1px;
    content: '';
    left: -33px;
    position: absolute;
    right: auto;
}
.tree .lev1 li::after {
    color:pink;
    border-top: 1px solid #999;
    height: 20px;
    top: 30px;
    width: 25px;
    content: '';
    left: -32px;
    position: absolute;
    right: auto;
}
.tree{
    position: relative;
}
.managepactions {
    text-align: center;
}
.addprojbtn {
    color: #000 !important;
    background: lightgray !important;
    border: none !important;
  }

.pcid {
    width: 30px !important;
}
.salbenefitwidth {
    width: 45% !important;
}
/* .blue-border-bg-white {
    background-color: var(--color-white);
    border: 1px solid var(--color-skyblue);
    color: var(--color-skyblue);
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
}
.blue-border-bg-white:focus-within {
    background-color: var(--color-skyblue);
    color: white;
    font-family: var(--font-family-poppins-regular);
    font-size: var(--font-size-m);
} */

.section_func_li {
    width: 100%;
    margin: 0px !important  
}

.section_cat {
    font-size: var(--font-size-16px);
    line-height: var(--line-height-26px);
    font-family: var(--font-family-poppins-medium);
    color: var(--color-label-footer-gray) !important;
}


.section_funct {
    color: var(--color-label-footer-gray) !important;
    font-family: var(--font-family-poppins-light) !important;
    font-size: var(--font-size-16px) !important;
    line-height: var(--line-height-26px) !important;
    font-weight: normal;

}
