.link-emp-coeff-tableparent {
  height: 475px;
  overflow-x: scroll;
  border: 1px solid;
  margin: 0 !important;
  scroll-behavior: smooth;

}

.firstpart {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}


.table-first-part td {
  border: 1px solid;
}

.pclinking-table-thead {
  position: sticky;
  top: 0;
  background-color: lightgray;
}


.pclinking-table-tbody td {
  /* COMMON TO BOTH TABLES */
}


.three-row-span {
  vertical-align: middle;
  border-right: 1px solid black;
}

.firstpart-cell {
  width: 100%;
  display: grid;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
  background-size: 100% 100%;
  height: 100%;
  border-right: 1px solid;
}

.cell--topRight {
  grid-column-start: 2;
}

.cell--bottomLeft {
  grid-column-start: 1;
}


.value-input-cell {
  height: 20px;
  width: 100%;
  text-align: center;
}

@keyframes run_fade {
  from {
    border: 2px solid rgba(255, 0, 0, .3);
  }
}

.warning,
.v-warning {
  border: 2px solid red;
  animation: run_fade 0.7s infinite alternate;
}

.value-input-cell:focus {
  outline: none !important;
}

.table-second-part {
  border-collapse: separate !important;
  /*Don't collapse */
}

.table-second-part th {
  border-right: 1px solid;
}

.table-second-part td {
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.header-div-tag {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.warning-message {
  text-align: center;
  color: red
}

/* ============================================== */
.css-319lph-ValueContainer {
  height: 100%;
}

.css-lr9fot-singleValue {
  height: 80%;
}

.css-14el2xx-placeholder {
  height: 80%;
}

.css-qc6sy-singleValue {
  height: 80%;
}

.css-1wy0on6 {
  height: 100%;
}

input[id^="react-select"][id$="-input"] {
  height: 100%;
}

div[id^="react-select"][id$="-listbox"] {
  z-index: 100;
}

/* ==================================================== */

th {
  height: 70px;
}

.pc-linking-td {
  height: 40px;
}

.relative-div {
  position: relative;
}

.relative-div>button {
  position: absolute;
  opacity: 0.4;
}

.relative-div>button:hover {
  opacity: 0.9;
}
