:root
{
  --border-color-gray:#4C4D554D;
}
.link-emp-coeff-tableparent {
  max-height: 475px;
  overflow-x: scroll;
  border: 1px solid;
  margin: 0 !important;
  scroll-behavior: smooth;
  border: 0px !important;
  min-height: 200px;
}

.sv-cp-page-title {
  margin: 25px 0;
  font-size: 1.5rem;
}


.firstpart {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}


.table-first-part td {
  border: 1px solid var(--border-color-gray);
}

.pclinking-table-thead tr {
  position: sticky;
  top: 0;
  /* background-color: #4C4D550F; */
  background-color: lightgray;
}


.pclinking-table-tbody td {
  /* COMMON TO BOTH TABLES */
}


.three-row-span {
  vertical-align: middle;
  border-right: 1px solid black;
}

.firstpart-cell {
  width: 100%;
  display: grid;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='darkgrey' vector-effect='non-scaling-stroke'/></svg>");
  background-size: 100% 100%;
  height: 100%;
  border-right: 1px solid var(--border-color-gray);
  /* border-bottom: 1px solid; */
  background-color: #4C4D550F;
}

.cell--topRight {
  grid-column-start: 2;
}

.cell--bottomLeft {
  grid-column-start: 1;
}


.value-input-cell {
  height: 20px;
  width: 100%;
  text-align: center;
  border-color: transparent;
}

@keyframes run_fade {
  from {
    border: 2px solid rgba(255, 0, 0, .3);
  }
}

.warning,
.v-warning {
  border: 2px solid red;
  animation: run_fade 0.7s infinite alternate;
}

.value-input-cell:focus {
  outline: none !important;
}

.table-second-part {
  border-collapse: separate !important;
  /*Don't collapse */
}

.table-second-part th {
  border-right: 1px solid var(--border-color-gray);
}

.table-second-part td {
  border-right: 1px solid var(--border-color-gray);
  border-top: 1px solid var(--border-color-gray)  ;
}

.table-second-part-th-class {
  min-width: 100px;
  border-bottom: 1px solid;
}

.header-div-tag {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.warning-message {
  text-align: center;
  color: red
}

/* ============================================== */
.css-319lph-ValueContainer {
  height: 100%;
}

.css-lr9fot-singleValue {
  height: 80%;
}

.css-14el2xx-placeholder {
  height: 80%;
}

.css-qc6sy-singleValue {
  height: 80%;
}

.css-1wy0on6 {
  height: 100%;
}

input[id^="react-select"][id$="-input"] {
  height: 100%;
}

div[id^="react-select"][id$="-listbox"] {
  z-index: 100;
}

/* ==================================================== */

th {
  height: 70px;
}

.pc-linking-td {
  height: 40px;
}

.relative-div {
  position: relative;
}

.relative-div>span {
  position: absolute;
  opacity: 0.4;
  cursor: pointer;
}

.relative-div>span:hover {
  opacity: 0.9;
}

strong{
  font-weight: bold !important;
}
.table-second-part-thead-tr-class th
{
  border-bottom: 0px;
}
span.cell--bottomLeft.poppins-medium-16px
{
  padding-left: 10px;
}
table.table.pclinking-table.table-second-part,
table.table.pclinking-table.table-first-part
{
  margin-bottom: 0px;
}
th.table-second-part-th-class
{
  padding: 0.5rem;
  text-align: center;
  font-family: var(--font-family-poppins-medium) !important;
  font-size: var(--font-size-16px);
  line-height: var(--line-height-26px);
}