.planning-height 
{
  min-height: 57vh;
}
.planning-height_employee
{
  min-height: 61vh;
}
.select_employee_container .css-1wy0on6
{
  align-self: center;
}
.action_icon_size
{
  width: 25px;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.css-1pahdxg-control
{
  border: 1px solid var(--color-label-footer-gray) !important;
  border-color: var(--color-label-footer-gray) !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.select_contact_person .css-1pahdxg-control:focus
{
  border: 1px solid var(--color-label-footer-gray) !important;
  border-color: var(--color-label-footer-gray) !important;
}
.close_open_basic_details svg path,
.opacity-100-basic-details svg path
{
  fill: #4c4d55;
}
.basic-details-delete
{
  height: 33px !important;
}
.salary_benefit_delete svg
{
  position: relative;
  top: -4px;
  float: right;
}
.close_open_basic_details svg
{
  width: 20px !important;
  height: 20px !important;
}
.close_open_basic_details svg path:focus,
.close_open_basic_details svg path:hover
{
  opacity: 1;
}
.position-sticky-subhead,
.add_project_position,
.nav-pills-position-sticky
{
  position: sticky;
  top: 162px;
  z-index: 998;
  background: white;
}
.border-purple
{
  border: 1px solid var(--color-purple);
}
.pos-rel
{
  position: relative;
}
.pos-rel button
{
  position: absolute;
  top: 4px;
  right: 4px;
  border: 1px solid var(--color-purple) !important;
  background-color: var(--color-purple);
  color: var(--color-white);
}
.employer_select .react-select-prefix__single-value.css-qc6sy-singleValue
{
  display: flex;
  align-items: center;
}
.basic_details .location_basic_details .react-select-prefix__single-value,
.payment_condition .react-select-prefix__single-value
{
  display: flex;
  align-items: center;
}
input[type="checkbox"]
{
  accent-color: cadetblue;
  opacity: 0.9;
  border-radius: 0px;
}
.select_option_v1_doc .V1Document_v1-multiselect__EVmAm__control,
.select_option_v1_doc .V1Document_v1-multiselect__EVmAm__control:focus,
.select_option_v1_doc .css-1pahdxg-control
{
  height: 43px !important ;
  border-color: var(--color-border-lightgrey) !important;
  color: #4C4D5573 !important;
}
.v1_doc .css-6j8wv5-Input,
.v1_doc #react-select-2-placeholder, .css-14el2xx-placeholder
{
  color: #4C4D5573 !important;
}
.add_project input,
.add_project input:focus,
.add_project .form-select:focus
{
  border:1px solid #ced4da;
}
.add_project .add-proj-btn
{
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
  color: var(--color-white);
  background-color: var(--color-purple);
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}
.select_employee_container .css-1rhbuit-multiValue .css-12jo7m5
{
  font-size: var(--font-size-16px);
  font-family: var(--font-family-poppins-light);
}
.add_function_height .react-select-prefix__control,
.add_function_height .react-select-prefix__indicators
{
  height: 30px !important;
  border: none !important;
}
.add_function_dropdown .react-select-prefix__control
{
  border: none !important;
}
.sign_action_icon_size_pdf,
.sign_action_icon_size_add
{
  width: 16px;
  vertical-align: middle;
}
.manage-cooperation-agreement-table-header .sign_action_icon_size_pdf,
.manage-cooperation-agreement-table-header .sign_action_icon_size_add
{
  vertical-align: middle;
}
.delete_icon_manage_cooperation
{
  /* margin-bottom: 11px; */
  height: 26px !important;
  width: 26px !important ;
  vertical-align: middle;
}
.Appointment-clickableAppointment
{
  background-color: var(--color-purple) !important;
  border-radius: 0px !important;
}
.MainLayout-stickyElement.MainLayout-leftPanel.MainLayout-dayScaleEmptyCell.MainLayout-ordinaryLeftPanelBorder
{
  border-right: 0px !important;
}
.css-xd4oto-MuiTableCell-root.TickCell-cell
{
  border-bottom: none !important;
}
.Label-label .Label-text
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
}
.css-1fbp63r.Label-emptyLabel
{
  height: 0px !important;
}
.css-1fbp63r.Label-label
{
  line-height: 35px !important;
}
.HorizontalAppointment-content 
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
}
.MuiTableCell-sizeMedium.Cell-cell
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
}
.border_employee_planning
{
  border: 1px solid var(--color-border-lightgrey);
}
.planning-table .MuiPaper-root
{
  box-shadow: none;
  border:1px solid var(--color-border-lightgrey) ;
  border-radius: 0px;
}
.MuiTableCell-sizeMedium .Cell-today
{
  background-color: var(--color-skyblue) !important;
}
.add_salary_benefits .accordion-button:not(.collapsed)
{
  background-color: transparent !important;
  color: var(--color-label-footer-gray) !important;
}
.add_salary_benefits input[type="checkbox"],
.add_salary_benefits input[type="radio"]
{
  margin-right: 0.5rem;
}
.occurence_col .react-select-prefix__single-value 
{
  display:flex;
  align-items:center;
  font-size: var(--font-size-16px) !important;
  padding-left: 0.8rem;
}
.add_salary_benefits input[type="text"],
.add_salary_benefits input[type="text"]:focus-visible,
.add_salary_benefits input[type="text"]:hover
{
  border:1px solid #4C4D554D;
  border-radius:0px;
  height:41px;
  outline: #4C4D554D !important;
}
.add_salary_benefits .react-select-prefix__input
{
  border:none !important;
  height:auto !important;
}
.date_field_salary_benefits
{
  margin-left:0.8rem;
  height:41px;
}
.otp,
.otp:focus-visible,
.min_height_pincode input[type="tel"]
{
    border:1px solid #4C4D554D !important;
    outline: #4C4D554D !important;
    border-radius: 0px !important;
}
.min_height_pincode 
{
  min-height: 59vh;
}
.background_color
{
  background: #f4f4f4;
}
.position-sticky-mytodo_searchbox
{
  position:sticky;
  top: 251px;
  background-color: var(--color-white);
  z-index: 998;
  margin-top: -1px !important;
}
/* .sticky-table-header
{
  position: sticky;
  top: 334px;
  z-index: 998;
} */

.qr_position_sticky
{
  position: sticky;
  top: 162px;
  background: var(--color-white);
  z-index: 998;
}
.planning_encodage_position
{
  position: sticky;
  top: 205px;
  background: var(--color-white);
  z-index: 998;
}
.weekly_planning_search_position
{
  position: sticky;
  top: 282px;
  background: white;
  z-index: 998;
}
.planning_finalize_search
{
  position: sticky;
  top: 176px;
  background: white;
  z-index: 998;
}
/* .qr_sticky thead
{
  position: sticky;
  top: 299px;
  
  z-index: 998;
} */
.project_sticky
{
  position: sticky;
  top: 244px;
  background: var(--color-white);
  z-index: 998;
}
/* .project_table_sticky thead
{
  position: sticky;
  top: 309px;
  
  z-index: 998;
} */
.my_documents_position_sticky
{
  position: sticky;
  background:var(--color-white);
  z-index: 998;
}

.my_documents_position_sticky_admin
{
  top: 284px;
}

.my_documents_position_sticky_employer
{
  top: 223px;
}

.my_documents_position_sticky_employee
{
  top: 162px;
}

/* .my_documents_position_sticky_table thead
{
  position: sticky;
  top: 302px;
  z-index: 998;
} */
.manage_agreement_position_sticky
{
  position: sticky;
  top: 231px;
  background: var(--color-white);
  z-index: 998;
}
/* .manage_agreement_position_sticky_table thead
{
  position: sticky;
  top: 296px;
  z-index: 998;
} */
.manage_category_sticky_position
{
  position: sticky;
  top: 152px;
  background: white;
  z-index: 998;
}
/* .manage_category_table
{
  position: sticky;
  top: 233px;
  background: white;
  z-index: 998;
} */
.position_sticky_co-op
{
  position: sticky;
  top: 251px;
  background: white;
  z-index: 998;
}
.manage_fun_table th
{
  width: 20% !important;
}
.manage_fun_table th:last-child
{
  text-align: center;
}
.start_date_edit_link .rmdp-input
{
  width: 191px !important;
  border-radius: 0px;
  padding: 1rem 10px;
}
.forgot_password_pincode
{
  font-family: var(--font-family-poppins-light) !important;
  color: var(--color-skyblue) !important;
  font-size: var(--font-size-18px) !important;
  line-height: var(--line-height-29px) !important;
  font-weight: normal;
}
.minheight-verifypin
{
  min-height: 71vh;
}
.position-sticky-pincode-verify 
{
  position: sticky;
  top: 168px;
  background: var(--color-white) !important;
  z-index: 998;
}
/* Warning icon */
.warning-icon-solid {
	background-image: url('/images/warning.svg');
	background-repeat: no-repeat;
	background-size: 23px;
	margin:0 2px;
	padding: 14px;
	background-position: center;
}

.cross-icon-solid{
  background-image: url('/images/cross-icon.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	margin: 0 0px;
	padding: 14px;
	background-position: center;
}

/* Warning icon */
.stop-working-icon-solid {
	background-image: url('/images/stop-icon-filled.svg');
	background-repeat: no-repeat;
	background-size: 25px;
	margin: 2px;
	padding: 14px;
	background-position: center;
}
.position-sticky-select-function
{
  position: sticky;
  top: 182px;
  background: white;
  z-index: 998;
}
.border_purple
{
  border:1px solid var(--color-purple);
}
.modal-footer
{
  border-top: 0px !important;
}
.cooperation_agreement_steps
{
  position: sticky;
  top: 162px;
  background: var(--color-white);
  z-index: 998;
}
.selected_date .rc-time-picker,
.selected_date .rc-time-picker:focus-visible,
.selected_date .rc-time-picker-input:focus-visible
{
  top: 4px !important;
  outline: none !important;
  border-radius: 0px !important;
}
.selected_date .rc-time-picker-input
{
  top: 4px !important;
  outline: none !important;
  border-radius: 0px !important;
}
.star_icon_size svg,
.star_icon_size img
{
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.count_col_timing svg
{
  cursor: pointer;
}
.rmdp-month-picker .rmdp-day.rmdp-selected span:not(.highlight),
.rmdp-month-picker .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover,
.rmdp-year-picker .rmdp-day.rmdp-selected span:not(.highlight),
.rmdp-year-picker .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover,
.rmdp-month-picker .rmdp-day.rmdp-today.rmdp-selected
{
  width: 200px !important;
}
.rmdp-month-picker .rmdp-day.rmdp-today.rmdp-selected span,
.rmdp-year-picker .rmdp-day.rmdp-today.rmdp-selected span,
.rmdp-year-picker .rmdp-day.rmdp-today span,
.rmdp-month-picker .rmdp-day.rmdp-today span
{
  background-color: var(--color-purple) !important;
  width: 200px !important;
}
.dashboard_menu_links
{
  background-color: var(--bg-grey-medium) !important;
  position:relative !important;
}
.dashboard_menu_title,
.dashboard_menu_title:hover
{
  color: var(--color-label-footer-gray) !important;
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
  min-height: 4rem;
}
.employee_widget_search
{
  border: 1px solid var(--color-border-lightgrey) !important;
}

.employee_widget_dashboard .form-control:focus
{
  border: 1px solid #ced4da !important;
}
.employee_widget_dashboard
{
  min-height: 26.3rem;
  position: relative;
}
.employer_widget_search_button,
.employer_widget_search_button:focus
{
  /* border: 1px solid var(--color-purple) !important; */
  background: var(--color-skyblue) !important;
  border: none;
  font-family: var(--font-family-poppins-medium) !important;
  color: var(--color-white) !important;
  cursor: pointer;
}
.employee_widget_view_more
{
  color: var(--color-purple) !important;
}
.min_height_employee_widget
{
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.employee_widget_dashboard
{
  /* height: 19.5rem !important; */
}
.employee_width_col
{
  width: 26%;
}
/* .salary_benefits_co_operation_agreement input
{
  min-height: 43px;
}
.salary-benefits-multiselect
{
  height: 43px !important;
} */
.basic_online_details input[type="text"]
{
  min-height: 43px;
}
.actual-stop-time .rmdp-input,
.actual-end-time .rmdp-input
{
  height: 38px !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border-radius: 0px !important;
  width: 100% !important;
}
.actual-stop-time .rmdp-container
{
   width: 100% !important;
}
.actual-end-time .rmdp-container
{
  width: 100px !important;
}
.actual-end-time .rmdp-time-picker
{
  min-width:100px !important;
}
.actual-end-time .rmdp-arrow-container
{
  align-items: center;
}
.actual-end-time .rmdp-down i
{
  margin-top: 0px !important;
}
.actual-end-time .rmdp-up i
{
  margin-top: 2px !important;
}