.add_employee_table tr:last-child
{
  border-bottom: none !important;
}
thead:after 
{
  line-height: 1vh;
  content: "-";
  color: transparent;
  display: block;
  background: transparent;
}
/* tbody:before 
{
	line-height: 1vh;
	content: "-";
	color: white;
	display: block;
} */
.react-confirm-alert-body
{
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-27px);
  color: var(--color-label-footer-gray);
  font-weight: normal;
  width: 445px !important;
  text-align: center;
}
.react-confirm-alert-button-group button
{
  background-color: var(--color-skyblue) !important;
  color: var(--color-white) !important;
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-16px);
}
.react-confirm-alert-button-group
{
  justify-content: end;
}
.position-sticky
{
  position: sticky !important;
  top: 66px;
  background-color: white;
  z-index: 990;
  height: 60px;
}
.reset_skyblue_button,
.reset_skyblue_button:hover
{
  border: 1px solid var(--color-skyblue) !important;
  background-color: var(--color-white);
  color: var(--color-skyblue);
  font-family: var(--font-family-poppins-medium);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-29px);
}
@media screen and (min-width:768px) and (max-width:1023px) 
{
  .footer-bg-color 
  {
    background-color: var(--color-label-footer-gray);
    height: 120px !important;
  }  
}
.text_field_addpc
{
  height: 41px;
}
.error_text
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
}
.position_relative
{
  position: relative;
  left: -1.6rem;
  padding-left: 1.7rem !important;
}
input[type="checkbox"]:focus
{
  box-shadow: none;
}
.view_pc_accordion .accordion-item:last-of-type .accordion-button
{
  border-bottom: 1px solid var(--border-color-lightgray);
}
.view_pc_accordion .accordion-item:last-of-type .accordion-button.collapsed
{
  border-bottom: none !important;
}
.edit_pc_salary_benefits input[type="radio"],
.radio[disabled]
{
  accent-color: cadetblue;
  opacity: 0.8;
  border-color: cadetblue;
}
.edit-icon-color img
{
  cursor: pointer;
}
.border-bottom
{
  border-bottom: 1px solid rgba(112, 112, 112,0.5) !important;
}
.link-emp-coeff-tableparent thead::after,
.manage-types-table thead::after
{
  line-height: 1vh;
  content: "-";
  color: white !important;
  display: block;
  background: white !important;
}
/* .link-emp-coeff-tableparent tbody::before,
.manage-types-table tbody::before
{
  line-height: 1vh;
  content: "-";
  color: white;
  display: block;
  background: white;
} */
.salary-benefits thead
{
  /* z-index: 999; */
  background-color: #4C4D550F;
  position: sticky;
}
.salary-benefits tbody
{
  z-index: 99;
}
.pc-single-select .css-6j8wv5-Input
{
  margin:0px !important;
}
@media screen and (min-width:768px) and (max-width:1023px) 
{
  .right_arrow_align span
  {
    right: -19px;
  }
  .manage_coefficient_table_body td:nth-child(2)
  {
    width: 50% !important;
  }
}
.manage_coefficient_table_body td:nth-child(2)
{
  width: 60%;
}
.border-color-addeditsalary-benefits,
.border-color-addeditsalary-benefits:focus,
.react-select-prefix__control,
.react-select-prefix__control:hover,
.salary-input-fields .css-1pahdxg-control
{
	border: 1px solid #4C4D554D !important;
	border-radius: 0px;
	box-shadow: none;
}
.react-select-prefix__control
{
  height: 43px !important;
}
#react-select-2-listbox,
.css-6j8wv5-Input,
.css-qc6sy-singleValue
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-16px);
  border-radius: 0px;
  color: var(--color-label-footer-gray) !important;
}
.react-select-prefix__single-value,
.react-select-prefix__input-container
{
  font-family: var(--font-family-poppins-light);
  font-size: var(--font-size-18px);
  border-radius: 0px;
  color: var(--color-label-footer-gray) !important;
}
.salary-input-fields .css-qc6sy-singleValue
{
  height: auto !important;
}
input[type="radio"]
{
  accent-color: cadetblue;
  border-color: cadetblue;
}
.css-319lph-ValueContainer
{
  padding: 0px 8px !important;
}
.manage_cooperation_agreement
{
  font-family: var(--font-family-bitter-italic-normal-medium);
  font-size: var(--font-size-30px);
  font-weight: normal;
  line-height: var(--line-height-44px);
  color: var(--color-purple);
}
@-moz-document url-prefix() {
  .opt_value {
     font-family: var(--font-family-poppins-medium) !important;
     font-size: var(--font-size-18px) !important;

  }
}